* {
    font-size: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    justify-items: center;
    justify-content: center;
}
    
}

.grid-item {
    
}